[Unit]
Description=A Simple Discord Bot
After=network.target network-online.target
AssertPathExists=/srv/node/discord-bot/config.json

[Service]
DynamicUser=true
RestartSec=5s
Type=simple
WorkingDirectory=/srv/node/discord-bot
Environment="NODE_ENV=production"
Environment="NODE_PATH=%S/discord-bot/node_modules"
Environment="HOME=%S/discord-bot/home"
LoadCredential=config.json:/srv/node/discord-bot/config.json
ExecStartPre=ln -sf /srv/node/discord-bot/package.json %S/discord-bot/package.json
ExecStartPre=ln -sf /srv/node/discord-bot/package-lock.json %S/discord-bot/package-lock.json
ExecStartPre=npm --prefix "%S/discord-bot/" ci
ExecStart=npm run serve
Restart=always

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=tmpfs
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictSUIDSGID=yes
SystemCallArchitectures=native

SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

StateDirectory=discord-bot
RuntimeDirectory=discord-bot
CacheDirectory=discord-bot
CacheDirectoryMode=0750

CapabilityBoundingSet=
AmbientCapabilities=

SocketBindDeny=any

TemporaryFileSystem=/srv:ro
BindReadOnlyPaths=/srv/node/discord-bot/

[Install]
WantedBy=multi-user.target
